<!DOCTYPE html>
<html>
<head>
  <title>Boston Nightlife Review</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<nav>
  <ul class="menu align-right">
    <% if user_signed_in? %>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <li><img src="<%= current_user.profile_photo %>" alt="profile picture" height="42" width="42"/> <%= link_to "Account", edit_user_registration_path(current_user.id) %></li>
      <% if current_user.admin? %>
        <li><%= link_to 'Admin Access', admin_users_path %></li>
      <% end %>
    <% else %>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
<%= yield %>

</body>
</html>
